/* desktop responsive */
@media screen and (min-width:1420px) and (max-width:1920px) {
    /* class veriabal */
.brand_n{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-decoration: none;
}
.h1_64{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
}
.p_16_3{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.header_btn{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 21px 25px;
}
.t_d{
    text-decoration: none;
}
.center{
    text-align: center;
}
.m_t_40{
    margin-top: 40px;
}


/* body work */
body{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: auto;
    margin: auto;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    width: 90vw;
    height: 80px;
    margin: 0 auto 100px;
}
}







/* responsive for mobile */

@media screen and (max-width:576px){
    /* class veriabal */
.brand_n{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}
.h1_64{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}
.p_16_3{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
}
.header_btn{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 10px 20px;
}


/* body work */
header{
    width: 100vw;
    height: auto;
    margin: auto;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    width: 90vw;
    height: 60px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
}
header>nav>ul>li>a{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
.header_box{
    width: 100vw;
    height: 80vh;
    margin: auto;
    row-gap: 30px;
}
.header_text{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.header_banar{
    width: 100vw;
    height: 250px;
    margin: auto;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    border-radius: 0;
}
}